//共通のスタイル (編集はしない)

body,html {
  height: 100%;
  font: {
    family: "ＭＳ 明朝",serif;
  }

}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
}
#footer {
  background: {
    color: #FAF5E7;
  }
  .copy{
    padding:{
      top: 20px;
      bottom: 20px;
    }
  }
  .copy p{
    text-align: center;
    font: {
      size: 15px;
    }
  }
}
