#information {
	position: relative;
	height: 100%;
	background: {
		color: #fff;
	}

	//インフォメーションの中身
	.itext {
	  position: absolute;
	  top: 40%;;
	  right: 0;
	  left: 0;
	  margin: auto;
	  z-index: 100;
	}
	.itext p {
	  text-align: center;
		color:  #000;
	  font: {
	    size: 48px;
	  }
	  margin: {
	    top: 0px;
	    bottom: 26px;
	  }
	}
	.map{
	  position: absolute;
	  top: 10%;
	  left: 5%;
	  width:30%;
	  height:auto;
	}
	.map img{
	  width:100%;
	  height:100%;
	}
	.yokone{
	  position: absolute;
	  right: 30px;
	  bottom: 30px;
	}
	.yokone p{
		color: #fff;
	  font:{
	    size: 36px;
	  }
	}
	.scroll{
	  position: absolute;
	  width:70px;
	  bottom: 10px;
	  left: 0;
	  right: 0;
	  margin: auto;
		cursor: pointer;
	}

	//自分のところのscssを貼付ける ※body{}は加えない
}
