
#timeline {
	position: relative;
	background-color: #fff;
	color: #404040;

	.tl-inner {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 50px;
	}

	.tl-header {
		margin: 100px 0;
		text-align: center;
		font-size: 26px;
	}

	.recent {
		width: 100%;
		padding-bottom: 40px;
		
		h2 {
			font-size: 18px;
		}

		.r-photo {
			width: 100%;
			margin-top: 20px;
		}
		
		.r-photo-footer {
			margin-top: 5px;
			font-size: 16px;
			display: -webkit-flex;
			display: flex;
			padding: 0 5px;

			.date {
				-webkit-flex: auto;
				flex: auto;
			}

			.good-box {
			}
		}

		.post-box {
			margin-top: 20px;
			// background: red;
			
			.post-heading {
				height: 40px;
				vertical-align: middle;
				// background-color: red;

				.post-title {
					font-size: 18px;
					font-weight: bold;
					// background: orange;
				}
				.post-icon {
					// display: inline-block;
					margin-left: 20px;
					width: 25px;
					// background: green;
				}
				.post-name {
					
					margin-left: 10px;
				}
			}
			.post-content {
				font-size: 14px;
				line-height: 1.2em;
				margin-top:10px;
			}
		}
		.comment-header {
			margin-top: 40px;
			display: -webkit-flex;
			display: flex;

			.commnet-heading {
				-webkit-flex: auto;
				flex: auto;
			}
			.commentBtn-box {
				.commentBtn {
					font-size: 14px;
				}
			}
		}
		.comment-inner {
			margin-top: 20px;
			
			.comment-block {
				margin-top: 20px;

				.head {
					.icon {
						width: 25px;
					}
					.name {
						display: inline-block;
						line-height: 25px;
						overflow: hidden;
						margin-left: 5px;
					}
				}
				.comment {
					font-size: 12px;
					margin-top: 10px;
					line-height: 1.4em;
					border-bottom: dashed thin #777;
					padding-bottom: 20px;
				}
				.comment:first-child {
					// background: red;
				}
			}
		}
		.comment-footer {
			margin-top: 10px;
			text-align: right;
			font-size: 12px;
		}
	}
	.this-year {

		.years {
			width: 600px;
			margin: 0 auto;
			display: flex;
			display: -webkit-flex;
			margin-top: 30px;

			li {
				list-style: none;
				-webkit-flex: auto;
				flex: auto;
				text-align: center;
				line-height: 30px;
				color: #888;
				margin: 0 70px;
			}
			.selected {
				font-size: 18px;
				font-weight: bold;
				color: #404040;
				border-bottom: 1px solid #404040;
			}
		}
		.tree {
			height: 100px;
		}
	}
}