doctype
html
  head
  body
    header
      a
      img(src="")
      ul
        li
          a(href="") よこめとは？
        li
          a(href="") よこめがおいしい理由
        li
          a(href="") よこめを食べてみる
    .gigapan
      iframe(src="http://www.gigapan.com/embeds/5we8Fv9bl5k/", frameborder="false")
